/* set header fonts 
--------------------*/
h1,h2,h3{

	font-family: 'Georgia', Times, Times New Roman, serif;
}
h2{
	padding-bottom: 20px auto;
}
p{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
a{
	text-decoration:none;
	color: #ffffff;

}

/* configure top, middle, bottom sections of webpage 
-----------------------------------------------------*/
.top{
	position: relative;
	width:960px;
	height:100px;
	padding:0px auto;
	margin:auto;
}
.middle{
	position: relative;
	width:960px;
	min-height: 650px;
	padding:0px auto;
	margin: auto;
	background-image: url("../images/concrete_seamless.png");
}
.bottom{
	position:relative;
	background-color: #666666;
	width:960px;
	height:100px;
	border-top:10px solid #1caec6;
	text-align: center;
	vertical-align: middle;
	line-height: 100px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	padding:0px auto;
	margin: auto;
}
/*top container content configuration and positioning
------------------------------------------------------*/
#logo{
	position:absolute;				
	left:15px;
	top:15px;
	background-color: #1caec6;
	color:#ffffff;
	width:25%;
	height: 85px;
	text-align: center;
	vertical-align: middle;
	line-height: 42.5px;
	padding:0px;
	margin:0;
}
.goto{

	position:absolute;
	left:62%;
	top: 55px;
	list-style: none;
}
.goto li, .goto a{
	display: inline-block;
	text-decoration: none;
	color: #777777;
	margin:auto;	
}
.goto li + li:before{
	padding:0 10px;
	content: " | ";
	color: #efefef;
}
.goto a:hover, a:active {
   background-color: #1caea6;
}
/*middle container content configuration and positioning
--------------------------------------------------------*/
.container{
	position:relative;
	top:25px;
	left:15px;
	background-color: #ffffff;
	width:650px;
	min-height: 620px;
	border: 0.5px solid #dddddd;
}
#subject1{
	position:absolute;
	top:25px;
	left:20px;
	color:#1caec6;
	border-bottom: 3px solid #efefef;
	height:45px;
	width:85%;
	margin:auto;
	background-color: transparent;
	text-align: left;
	line-height: 45px;
	vertical-align: middle;
}
.content{
	position:absolute;
	top:90px;
	left:15px;
	padding-right: 35px;
	
}
/* clearfix
--------------*/
.content: after{
	content=" ";
	visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
#about{

	float:left;
	border-color: 3px solid black;
	margin: auto;
	margin-right: 25px;
}
#subject2{
	position: absolute;
	top:15px;
	left:20px;
	color:#1caec6;
	border-bottom: 2px solid #efefef;
	height: 45px;
	width:85%;
	margin:auto;
	background-color: transparent;
	text-align: left;
	line-height: 45px;
	vertical-align: middle;
}
.connect{
	position:relative;
	left:72%;
	top:-597px;
	background-color: #ffffff;
	border:0.5px solid #dddddd;
	width:193px;
	height: 140px;

}
#social{
	position: absolute;
	top:75px;
	left: 20px;
	margin:auto;
	line-height: 65px;
	vertical-align:middle;
}
/*portfolio images configuration and positionining
--------------------------------------------------*/
.p_img{
	float:left;
	margin: 15px 15px;
	width:180px;
	height: 150px;
	vertical-align: middle;
	line-height: 225px;
}
.p_img.work{
	background-image: url("../images/business.jpg");
}
.p_img.recipes{
	background-image: url("../images/food.jpg");
}
.p_img.aspirations{
	background-image: url("../images/soccer.jpg");
}
.p_img.ideas{
	background-image: url("../images/tech.jpg");
}
.p_img.philosophy{
	background-image: url("../images/abstract.jpg");
}
/*changed links on portfolio images to buttons easier to adjust width
----------------------------------------------------------------------*/
button{
	width:180px;
	height:45px;
	font-size: 16px;
	color: white;
	background-color: #1caec6;
}
/*form configuration
--------------------*/
form{
	width: 580px;
}
input{
	width:100%;
}
textarea{
	width:100%;
	height: 250px;
}
#submit{

	color:white;
	background-color: #1caec6;
	width:120px;
	height: 50px;
	text-align: center;
	margin: auto;
	font-size: 20px;
	line-height: 50px;
	vertical-align: middle;
}
/* media queries*/
@media screen and (max-width: 980px){
	
	.container{
		width:325px;
		height:975px;
		left:200px;
	}
	.story{
		float: left;
	}
	.connect{
		
		top:-952.5px;
		left:58%;
	}
	.goto{
		left:54%;
	}
	#logo{
		left:200px;
	}
	form{
		width:152%;
	}


}

@media screen and (max-width:768px){

	.top{
		width:100%;
		top:0px;
		left: 0px;
		margin:auto;
	}
	.middle{
		width:100%;
		top:35px;
		left:0px;
		height:1700px;
		margin:auto;
	}
	.bottom{
		width:100%;
		bottom:0px;
		left:0px;
		margin:auto;
	}
	.container{
		margin:auto;
		max-width:90%;
		height:800px;
		left:0px;
	}
	.content{
		width:100%;
		
	}
	.goto{
		top: 85px;
	}
	#logo{

		width:35%;
		top:50px;
	}
	.story{

		width:75%;
	}
	.connect{

		position: relative;
		width:90%;
		left:0px;
		top:50px;
		margin:auto;
	}
	/*portfolio adjustments*/
	.p_img.work{
	background-image: url("../images/business.jpg");
	background-size: cover;
	}
	.p_img.recipes{
	background-image: url("../images/food.jpg");
	background-size: cover;
	}
	.p_img.aspirations{
	background-image: url("../images/soccer.jpg");
	background-size: cover;
	}
	.p_img.ideas{
	background-image: url("../images/tech.jpg");
	background-size: cover;
	}
	.p_img.philosophy{
	background-image: url("../images/abstract.jpg");
	background-size: cover;
	}
	.p_img{

		float:left;
		width:30%;
		margin:25px;
		border:2px solid #efefef;
		
		
		
	}
	.p_img button{
		position:relative;
		width:100%;
		top:50px;
	}
	form{

		width:90%;
	}
	

}

@media screen and (max-width: 640px) {

	.top{
		width:100%;
		top:0px;
		left: 0px;
		margin:auto;
	}
	.middle{
		width:100%;
		top:65px;
		left:0px;
		height:1700px;
		margin:auto;
	}
	.bottom{
		width:100%;
		bottom:0px;
		left:0px;
		margin:auto;
	}
	#logo{
		position:absolute;
		width:100%;
		top:0px;
		left:0px;
		padding:0px;
		height: 85px;
		line-height: 60px;
		vertical-align: middle;
		text-align: center;


	}
	#logo h1{
		position: fixed;
		height:100%;
		width:100%;
		padding:0px;

	}
	#logo a{
		color: #ffffff;
	}
	.goto{
		position: absolute;
		top:85px;
		left:-45px;
		height:40px;
		width:100%;
		line-height: 40px;
		vertical-align: middle;
		text-align: center;
		font-size: 25px;	
	}
	.goto li + li:before{
		padding:0 35px;
		content: " | ";
		color: #efefef;
	}
	.container{
		margin:auto;
		width:90%;
		left:0px;
		height:1345px;

		
	}
	#about{

		width:90%;
		margin-top: 10px;
		margin-left: 10px;
		margin-bottom: 10px;
		background-size: contain;
			
	}
	.content{
		width:90%;
		left:10px;
		align-content: center;
	}
	#about img{

		content:url("../images/myimage2.jpg.jpg");
		background-size: cover;
		width:90%;
			
	}
	.story{
		float: left;
		width:90%;
		margin:auto;
		margin-left: 10px;

	}
	.connect{

		position: relative;
		width:90%;
		left:0px;
		top:50px;
		margin:auto;
	}
	/*portfolio adjustments*/
	.p_img.work{
	background-image: url("../images/business.jpg");
	background-size: cover;
	}
	.p_img.recipes{
	background-image: url("../images/food.jpg");
	background-size: cover;
	}
	.p_img.aspirations{
	background-image: url("../images/soccer.jpg");
	background-size: cover;
	}
	.p_img.ideas{
	background-image: url("../images/tech.jpg");
	background-size: cover;
	}
	.p_img.philosophy{
	background-image: url("../images/abstract.jpg");
	background-size: cover;
	}
	.p_img{
		float:left;
		width:100%;
		height: 40%;
		margin:auto;
		margin-left: 10px;
		margin-bottom: 10px;
		border:2px solid #efefef;
		background-size: cover;
		
		
	}
	.p_img button{
		position:relative;
		width:100%;
		top:50px;
	}
	form{

		width:90%;
	}
	
}


